*.pdf
TweetToner/data/nokia_img/
TweetToner/data/nokia_img2000/
TweetToner/citygrid_shots
TweetToner/data/photopatterns
TweetToner/data/satellit 
TweetToner/colorgrid 
citygrid_shots/
.DS_Store
data/nokia_img/
data/nokia_img2000/
*.mbtiles
satellit/
photopatterns/
TweetToner/bin/

